@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #222831;
}

*,a {
  color: #ffffff;
  font-family: "Poppins";
}

nav {
  background-color: #00ADB5;
}

#dropContainer {
  border: 2px #ccc dashed;
  background-color: #ffffff;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
  min-height: 400px;
}

.primary-btn {
  display: none;
  width: 382px;
  height: 81px;
  background-color: #00adb5;
  border-radius: 12px;
  /* border-bottom-color: #00ADB5 */
}

input#fileInput {
  display: inline-block;
  width: 80%;
  padding: 200px 0 0 0;
  height: 200px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png")
    center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 60px 60px;
}

.email-box {
  color: #222831;

  /* height: 66px; */

  background: #eeeeee;
  border-radius: 4px;
}

.message-text {
  width: 780px;
  height: 390px;
  color: #222831;
  background: #eeeeee;
  border-radius: 6px;
}

button,
input[type="submit"],
input[type="reset"], .my-btn-primary {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: bold;
}

#github-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: bold;
}

.btn_email {
  width: 376px;
  height: 50px;
  background: #393e46;
  border-radius: 8px;
}

.btn_message {
  width: 376px;
  height: 50px;
  background: #00adb5;
  border-radius: 8px;
}
